[Unit]
Description=Atlas X11VNC server
Documentation=man:x11vnc

[Service]
ExecStart=/usr/bin/atlassoc-x11vnc-init.sh

[Install]
WantedBy=multi-user.target
